@import "tailwindcss";

@theme {
  --color-background: #f9fafb;
  --color-mainTitle: #1f2937;
  --color-secondTitle: #4b5563;
  --color-input: #ffffff;
  --color-borderInput: #d1d5db;
  --color-button: #3b82f6;
  --color-hoverButton: #2563eb;
  --color-textButton: #ffffff;
  --color-cardsResult: #ffffff;
  --color-textResult: #111827;
  --color-secondaryText: #6b7280;
  --color-devideBorder: #e5e7eb;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* iOS text scaling fix */
html {
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

body {
  background: var(--color-background);
  color: var(--color-textResult);
  font-family: Arial, Helvetica, sans-serif;
  font-weight: normal;
  margin: 0;
  padding: 16px;

  font-size: 14px;
  line-height: 1.6;

  /*  для iOS */
  min-height: 100vh;
  min-height: 100dvh;

  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas {
  display: block;
  max-width: 100%;
}

/* Формы (фикс iOS + наследование шрифта) */
input,
button,
textarea,
select {
  font: inherit;
}

/*  убирает zoom на input в iOS */
input,
textarea {
  font-size: 16px;
}

/*  фикс кнопок в Safari */
button {
  -webkit-appearance: none;
  appearance: none;
}

/* Ссылки */
a {
  text-decoration: none;
  color: inherit;
}

/* === SAFE AREA SUPPORT (iPhone notch) === */
.safe-area {
  padding-bottom: env(safe-area-inset-bottom);
  padding-top: env(safe-area-inset-top);
}

h3 {
  @apply text-[16px] font-semibold;
  color: #374151;
  margin-bottom: 8px;
}

.promptText {
  font-size: 14px;
  line-height: 1.6;
  color: var(--color-textResult);
  font-family: Arial, Helvetica, sans-serif;
  font-weight: normal;
}

.boldText{
  font-size: 14px;
  line-height: 1.6;
  color: var(--color-textResult);
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}
@media (min-width: 640px) {
  body {
    padding: 24px;
    font-size: 16px;
  }
  h3 {
    font-size: 18px;
  }
  
}

@media (min-width: 1024px) {
  body {
    padding: 40px;
  }
  h3 {
    font-size: 18px;
  }
}
